<p>Hi,</p>
<p>You have requested a login code for the Social Finance Feedback process.</p>
<p>Please click or copy this link to log in:</p>
<div>
    <h3><a href="{{ url }}">{{ url }}</a></h3>
</div>
<p>This is a unique token that is only valid once and for fifteen minutes after requesting it. If you have already
logged in, you only need to return to <a href="https://feedback.sfdl.org.uk/">feedback.sfdl.org.uk</a> where you should
already be logged in. If you switch computer, you can request a new token from
<a href="https://feedback.sfdl.org.uk/#/login">feedback.sfdl.org.uk/#/login</a>.</p>

<p>If you have any problems, please contact me using the details below.</p>
